.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 80%;
  border-radius: 10px;
}

.card__header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__title {
  font-size: 1.875rem;
  color: #717171;
  font-weight: 600;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card__price-section {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 0.5px solid #CCCCCC;
}

.card__price {
  font-size: 4rem;
  font-weight: 600;
}
.card__price__red {
  color: #DD4B4B
}
.card__price__blue{
  color: #3684CB;
}
.card__price__green{
  color: #3C7649;
}

.card__info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card__info-block {
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.card__info-block:first-child {
  border-right: 0.5px solid #CCCCCC;
}

.card__info-label {
  font-size: 1.125rem;
  color: #919191;
  font-weight: 600;
}

.card__info-value {
  font-size: 1.5rem;
  color: #717171;
  font-weight: 600;
}
