@import "../../variables.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $card-background;
  width: 80%;
  border-radius: 10px;
}

.card__header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $card-header-background;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__title {
  font-size: 1.875rem;
  color: $text-basic;
  font-weight: 600;
  text-align: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card__price-section {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 0.5px solid #CCCCCC;
}

.card__price {
  font-size: 4rem;
  font-weight: 600;
}
.card__price--red {
  color: $text-red
}
.card__price--blue{
  color: $text-blue;
}
.card__price--green{
  color: $text-green;
}

.card__info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card__info-block {
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.card__info-block:first-child {
  border-right: 0.5px solid #CCCCCC;
}

.card__info-label {
  font-size: 1.125rem;
  color: $text-secondary;
  font-weight: 600;
}

.card__info-value,
.card__info-data {
  font-size: 1.5rem;
  color: $text-basic;
  font-weight: 600;
}

.card__loader{
  padding: 6rem;
}

.card__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.card__error-text {
  font-size: 1.625rem;
  color: $text-basic;
}

.card__error-container {
  margin-top: 2rem;
  background-color: $button-background; 
  padding: 1.5rem; 
  border-radius: 10px;
}

.card__error-button {
  color: $text-black;
  font-size: 1.125rem;
  font-weight: 600;
}

@media (width >= 1024px){
  .card {
    width: 80%;
  }
  .card__header{
    padding: 2rem;
  }
  .card__price-section {
    padding: 4rem 0;
  }
  .card__info-block {
    padding: 1rem 0;
  }
  .card__error {
    padding: 5.30rem 0;
  }
}