@import "../../../shared/variables.scss";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 13%;
    height: 13%;
    background-color: $app-header-background
}
@media (width >= 1024px){
    .header{
        min-height: 10%;
        height: 10%;
    }
}
